.backSide {
  transform: rotateY(180deg);
}

.form {
  width: 100%;
}

.input {
  width: 100%;
  padding: rem(20) rem(16);

  font-size: rem(20);

  background: #fff;
  border: rem(2) solid rgb(0 0 0 / 3%);
  border-radius: rem(14);
  outline: none;
  box-shadow: var(--shadow);

  @include mobile {
    padding: rem(10);

    font-size: rem(16);

    border-radius: rem(12);
  }

  &::placeholder {
    color: var(--accent-color);
  }
}
