.readySide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: rotateY(180deg);
  cursor: pointer;

  transition-duration: 0.3s;

  user-select: none;
  touch-action: pan-y;
  row-gap: rem(15);

  &:active {
    transform: rotateY(180deg) scale(0.95);
  }
}

.text {
  max-width: 100%;

  color: var(--accent-color);
  font-weight: 600;
  font-size: rem(20);
  line-height: 1.2;
  text-align: center;
  overflow-wrap: break-word;


  @include mobile {
    font-size: rem(14);
  }
}

.counter {
  @include flex-center;

  font-size: rem(20);
  letter-spacing: rem(2);

  @include mobile {
    font-size: rem(14);
  }
}
