.frontSide {
  transform: rotateY(0deg);
  cursor: pointer;
}

.plusButton {
  font-weight: 300;
  font-size: rem(70);
}

.pulseAnimation {
  width: 100%;
  height: 100%;

  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
