.form {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  justify-content: center;
  max-width: 360px;

  color: #fff;

  @include mobile {
    gap: rem(16);
  }
}

.title {
  font-weight: 700;
  font-size: rem(40);

  @include mobile {
    font-size: rem(30);
  }
}

.subtitle {
  font-size: rem(16);

  opacity: 0.9;
}

.link {
  color: var(--background-color);
  font-weight: 600;

  cursor: pointer;
}

.input {
  max-width: 360px;
  padding: rem(14) rem(18);

  color: white;
  font-size: rem(16);

  background: var(--authInput);
  border: rem(2) solid transparent;
  border-radius: rem(12);

  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--background-color);
  outline: none;
}

.button {
  width: 100%;
  margin-top: rem(12);
  padding: rem(14);

  color: var(--font-color);
  font-weight: 600;
  font-size: rem(16);

  background: var(--background-color);
  border: none;
  border-radius: rem(12);
  box-shadow: none;
  cursor: pointer;

  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
}
