.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  opacity: 0.9;
}

.link {
  color: var(--background-color);
  cursor: pointer;
  font-weight: 600;
}

.input {
  max-width: 360px;
  padding: 14px 18px;
  border-radius: 12px;

  border: 2px solid transparent;
  background: #2f2f37;

  font-size: 15px;
  color: white;

  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--background-color);
  outline: none;
}

.button {
  margin-top: 12px;
  padding: 14px;
  width: 100%;
  border: none;
  background: var(--background-color);
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: none;

  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
}
