.wrapper {
  width: var(--containerWidth);
  height: var(--containerHeight);
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.card {
  display: flex;
  width: 1100px;
  height: 600px;
  padding: 40px;
  background: #131313;
  border-radius: 24px;
  overflow: hidden;
}

.left {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.right {
  flex: 1;
}

.right .blank {
  background: url('/bingo-2.gif') center/cover no-repeat;
  width: 100%;
  height: 100%;
}

/* slide анимация */
.formsWrapper {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.3s ease;
}

.formSlide {
  display: flex;
  align-items: center;
  width: 50%;
}

.formsWrapper[data-mode='login'] {
  transform: translateX(0);
}

.formsWrapper[data-mode='register'] {
  transform: translateX(-50%);
}
