.auth {
  min-height: 100vh;

  @include flex-center;
}

.card {
  display: flex;
  width: 1100px;
  height: 600px;
  padding: rem(40);
  overflow: hidden;

  background: var(--accent-color-2);
  border-radius: rem(24);

  @include mobile {
    width: 375px;
    height: 375px;
    padding: 0;
  }
}

.left {
  position: relative;

  flex: 1;
  height: 100%;
  overflow: hidden;
}

.right {
  flex: 1;

  @include mobile {
    flex: 0;
  }
}

.right .blank {
  width: 100%;
  height: 100%;

  background: url('/bingo-2.gif') center/cover no-repeat;
  border-radius: rem(16);

  @include mobile {
    @include visually-hidden;
  }
}

// slide анимация
.formsWrapper {
  display: flex;
  width: 200%;
  height: 100%;

  transition: transform 0.3s ease;
}

.formSlide {
  display: flex;
  align-items: center;
  width: 50%;

  @include mobile {
    justify-content: center;
  }
}

.formsWrapper[data-mode='login'] {
  transform: translateX(0);
}

.formsWrapper[data-mode='register'] {
  transform: translateX(-50%);
}
