.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(20);
  color: #fff;

  @include mobile {
    gap: rem(16);
  }
}

.title {
  font-size: rem(40);
  font-weight: 700;

  @include mobile {
    font-size: rem(30);
  }
}

.subtitle {
  font-size: rem(16);
  opacity: 0.9;
}

.link {
  color: var(--background-color);
  cursor: pointer;
  font-weight: 600;
}

.input {
  max-width: 360px;
  padding: rem(14) rem(18);
  border-radius: rem(12);

  border: rem(2) solid transparent;
  background: #2f2f37;

  font-size: rem(16);
  color: white;

  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--background-color);
  outline: none;
}

.button {
  margin-top: rem(12);
  padding: rem(14);
  width: 100%;
  border: none;
  background: var(--background-color);
  color: var(--accent-color);
  font-size: rem(16);
  font-weight: 600;
  border-radius: rem(12);
  cursor: pointer;
  box-shadow: none;

  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
}
