.menu {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  column-gap: 15px;

  background: var(--accent-color);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

button {
  border: none;
  background: #f9f9ed;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}
