.menu {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  background: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.02);
  box-shadow: var(--shadow);
  animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

button {
  border: none;
  background: #fff;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  aspect-ratio: 1;
}
