.menu {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  column-gap: 12px;

  background: #ffbbe1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  animation: scaleIn 0.2s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

button {
  border: none;
  background: #fff;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  color: #ffbbe1;
}
