.menu {
  position: fixed;
  z-index: 2000;

  display: flex;
  justify-content: space-between;
  padding: rem(10);

  column-gap: rem(15);

  background: var(--background-color);
  border-radius: rem(12);
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%) scale(0);

  transition: opacity 0.3s ease,
  visibility 0.3s ease,
  transform 0.3s ease,
  left 0s,
  top 0s;

  pointer-events: none;

  @include hide;

  &.open {
    @include show;
    transform: translate(-50%, -50%) scale(1);

    pointer-events: auto;
  }

  @include mobile {
    padding: rem(10);

    column-gap: rem(6);

    border-radius: rem(10);
  }
}

.icon {
  @include flex-center;
  @include square(rem(55));
  padding: rem(6);

  color: var(--font-color);

  background: #fff;
  border: none;
  border-radius: rem(8);
  box-shadow: var(--shadow);
  cursor: pointer;

  @include mobile {
    @include square(rem(34));

    border-radius: rem(6);
  }
}

.icon svg {
  @include square(rem(35));

  @include mobile {
    @include square(rem(20));
  }
}

.backdrop {
  position: fixed;
  z-index: 1500;

  opacity: 0;
  backdrop-filter: blur(5px);

  transition: opacity 0.3s ease;

  pointer-events: none;
  inset: 0;

  &.open {
    opacity: 1;

    pointer-events: all;
  }
}
