.menu {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  column-gap: 15px;

  background: #ffbbe1;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 2px 5px rgba(0, 0, 0, 0.04);

  animation: scaleIn 0.2s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

button {
  border: none;
  background: #f9f9ed;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbbe1;
}
