.menu {
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  column-gap: rem(15);
  background: var(--background-color);
  padding: rem(10);
  border-radius: rem(12);
  box-shadow: var(--shadow);

  @include hide;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease,
    left 0s,
    top 0s;

  &.open {
    @include show;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
  }

  @include mobile {
    column-gap: rem(5);
    padding: rem(10);
    border-radius: rem(10);
  }
}

.icon {
  @include flex-center;
  @include square(rem(55));

  border: none;
  background: #fff;
  padding: rem(6);
  border-radius: rem(8);
  cursor: pointer;
  box-shadow: var(--shadow);

  @include mobile {
    @include square(rem(35));

    border-radius: rem(6);
  }
}

.icon svg {
  @include square(rem(35));

  @include mobile {
    @include square(rem(20));
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1500;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}
