.menu {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  column-gap: rem(15);
  background: var(--background-color);
  padding: rem(10);
  border-radius: rem(12);
  box-shadow: var(--shadow);
  animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.icon {
  @include flex-center;

  width: rem(55);
  aspect-ratio: 1;
  border: none;
  background: #fff;
  padding: rem(6);
  border-radius: rem(8);
  cursor: pointer;
  box-shadow: var(--shadow);
}
