.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(25);

  @include laptop {
    gap: rem(12);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(8);
  }
}

/* card "ease in" animation */
.cardEaseIn {
  transform-origin: left;

  animation: cardIn 0.45s ease forwards;
}

@keyframes cardIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
