.bingo {
  @include flex-center;

  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: var(--container-maxWidth);
  padding: fluid(30, 15);

  @include ipadPro {
    width: var(--ipadProW);
    height: var(--ipadProH);
  }
}
