.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--containerWidth);
  height: var(--containerHeight);
  padding: 30px;
  background-color: var(--background-color);
}
