.bingo {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--container-maxWidth);
  padding: fluid(30, 15);

  @include ipadPro {
    width: var(--ipadProW);
    height: var(--ipadProH);
  }
}
