::selection {
  background: var(--accent-color);
  color: var(--background-color);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--background-color);
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--accent-color);
  background-color: var(--background-color);
}

button {
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}
