::selection {
  background: var(--accent-color);
  color: var(--color-1);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--background-color);
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  display: grid;
  align-items: center;

  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: 'Jost', sans-serif;

  background: var(--background-color);

  color: var(--accent-color);
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

button {
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}
