:root {
  --accent-color: black;
  --background-color: #f5c507;
  --shadow: rgba(99, 99, 99, 0.3) 0 2px 8px 0;
}

::selection {
  background: var(--accent-color);
  color: var(--background-color);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--background-color);
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--accent-color);
}
