html {
  background-color: var(--background-color);
  overscroll-behavior: none;
}

body {
  color: var(--accent-color);
  font-family: Jost, sans-serif;

  background-color: var(--background-color);
}

button {
  color: var(--accent-color);

  background-color: transparent;
  border: none;
}

::selection {
  color: var(--background-color);

  background: var(--font-color);
}

::selection {
  color: var(--background-color);

  background: var(--font-color);
}
