::selection {
  background: var(--accent-color);
  color: var(--color-1);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--background-color);
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: 'Jost', sans-serif;

  color: var(--accent-color);
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

button {
  border: none;
  background-color: transparent;
  color: var(--accent-color);
}
