:root {
  --accent-color: black;
  --color-1: #d3cce3;
  --background-color: linear-gradient(to right, #d3cce3, #e9e4f0);
  --shadow: rgba(99, 99, 99, 0.3) 0 2px 8px 0;
}

//linear-gradient(to right, #ee9ca7, #ffdde1);
