:root {
  --container-maxWidth: 1400px;

  --accent-color: black;
  --background-color: #ffde21;
  --shadow: rgba(99, 99, 99, 0.3) 0 2px 8px 0;

  --ipadProW: 1366px;
  --ipadProH: 1024px;
}

//linear-gradient(to right, #ee9ca7, #ffdde1);
