.wrapper {
  display: flex;
  justify-content: center;

  padding-bottom: rem(30);

  @include mobile {
    padding-bottom: rem(15);
  }
}

.titleInput {
  @include fluid-text(80, 30);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-family: 'Jost', sans-serif;
  border: none;
  outline: none;
  background: transparent;

  color: var(--accent-color);
}

.readonly {
  pointer-events: none;
  user-select: none;
  caret-color: transparent;
}

.editing {
  pointer-events: auto;
  caret-color: var(--accent-color);
}
