.wrapper {
  padding-bottom: rem(30);

  @include mobile {
    padding: 0;
  }
}

.titleInput {
  width: 100%;

  color: var(--font-color);
  font-weight: 800;
  font-size: rem(80);
  font-family: Jost, sans-serif;
  text-align: center;
  text-transform: uppercase;

  background: transparent;
  border: none;
  outline: none;

  @include laptop {
    font-size: rem(70);
  }

  @include mobile {
    font-size: rem(35);
  }
}

.readonly {
  user-select: none;
  pointer-events: none;
  caret-color: transparent;
}

.editing {
  caret-color: var(--accent-color);

  pointer-events: auto;
}
