.titleInput {
  --title-size: #{rem(80)};

  width: 100%;
  height: var(--title-size);
  padding: 0;

  color: var(--font-color);
  font-weight: 800;
  font-size: var(--title-size);
  font-family: Jost, sans-serif;
  text-align: center;
  text-transform: uppercase;

  background: transparent;
  border: none;
  outline: none;

  @include laptop {
    --title-size: #{rem(65)};
  }

  @include mobile {
    --title-size: #{rem(30)};
  }
}

.readonly {
  user-select: none;
  pointer-events: none;
  caret-color: transparent;
}

.editing {
  caret-color: var(--accent-color);

  pointer-events: auto;
}
