.backSide {
  transform: rotateY(180deg);
}

.form {
  width: 100%;
}

.input {
  font-size: rem(20);
  width: 100%;
  padding: rem(20) rem(16);
  outline: none;
  background: #fff;
  border-radius: rem(14);
  border: rem(2) solid rgba(0, 0, 0, 0.03);
  box-shadow: var(--shadow);

  @include mobile {
    padding: rem(10);
    border-radius: rem(12);
    font-size: rem(12);
  }

  &::placeholder {
    color: var(--accent-color);
  }
}
