.card {
  position: relative;

  perspective: 1000px;
  aspect-ratio: 5 / 3;
}

.inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;

  transition: transform 0.6s;
}

/* flip animation */
.card.flipped .inner {
  transform: rotateY(180deg);
}

.removing {
  animation: cardOut 0.2s ease forwards;
}

@keyframes cardOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
