.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);

  @include mobile {
    position: sticky;
    z-index: 100;
    top: 0;

    margin-inline: -15px;
    padding: rem(5);
  }
}

.spacer {
  width: rem(40);

  @include ipadPro {
    width: rem(35);
  }

  @include mobile {
    width: rem(30);
  }
}

.menuWrapper {
  position: relative;
}
