.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-color);

  @include mobile {
    position: sticky;
    top: 0;
    z-index: 100;

    padding: rem(5);
    margin-inline: -15px;
  }
}

.spacer {
  width: rem(40);

  @include ipadPro {
    width: rem(35);
  }

  @include mobile {
    width: rem(30);
  }
}

.menuWrapper {
  position: relative;
}
