.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: fluid(40, 15);

  background-color: transparent;

  @include mobile {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.header::before {
  position: absolute;

  z-index: -1;

  background-color: color-mix(
    in srgb,
    var(--background-color) 30%,
    transparent
  );

  backdrop-filter: blur(4px);

  content: '';
  inset: 0;
}

.spacer {
  width: rem(40);

  @include mobile {
    width: 30px;
    aspect-ratio: 1;
  }
}

.menuWrapper {
  position: relative;
}
