.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(25);

  @include laptop {
    gap: rem(15);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10);
  }
}

/* card "ease in" animation */
.cardEaseIn {
  animation: cardIn 0.3s ease forwards;
  transform-origin: center;
}

@keyframes cardIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
