.sidebar {
  position: absolute;
  top: calc(100% + rem(20));
  right: rem(20);
  z-index: 2000;

  display: flex;
  flex-direction: column;

  width: rem(300);

  background: var(--accent-color-3);
  border-radius: rem(10);
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;

  transition:
    transform 0.25s ease,
    opacity 0.25s ease;

  pointer-events: none;
  aspect-ratio: 1;

  @include mobile {
    right: 0;

    width: rem(220);
  }

  &.open {
    transform: scale(1);
    opacity: 1;

    pointer-events: auto;
  }
}

.backdrop {
  @include overlay;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(14) rem(18);

  color: var(--accent-color-2);
  font-weight: 400;

  border-bottom: rem(5) solid #e8e8e8;
  border-radius: 0;

  @include fluid-text(20, 14);

  @include mobile {
    padding: rem(8) rem(14);
  }
}

.button svg {
  width: rem(25);
  height: rem(25);

  @include mobile {
    width: rem(16);
    height: rem(16);
  }
}
