.sidebar {
  position: fixed;
  top: 20%;
  right: 0;

  display: flex;
  flex-direction: column;

  width: rem(300);
  aspect-ratio: 1;

  background: #fff;
  box-shadow: var(--shadow);

  border-radius: rem(10);

  transform: translateX(130%);
  transition: transform 0.3s ease;

  z-index: 2000;

  &.open {
    transform: translateX(0);
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(12px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1500;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.button {
  box-shadow: none;
  border-radius: 0;
  border-bottom: rem(1) solid black;
}
