.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: 1;

  animation: overlayIn 0.3s ease forwards;
}

@keyframes overlayIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
