.surface {
  position: absolute;

  padding: rem(20);

  color: var(--accent-color);

  background: var(--accent-color-3);
  border: rem(6) solid rgb(0 0 0 / 10%);
  border-radius: rem(16);
  box-shadow: var(--shadow);
  backface-visibility: hidden;
  cursor: pointer;
  inset: 0;

  @include flex-center;

  @include mobile {
    padding: rem(10);

    border: rem(3) solid rgb(0 0 0 / 10%);
    box-shadow: rgb(99 99 99 / 10%) 0 2px 8px 0;
  }
}
