.surface {
  position: absolute;
  inset: 0;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 16px;
  border: 6px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow);

  backface-visibility: hidden;
  cursor: pointer;
}
