.surface {
  position: absolute;
  inset: 0;
  padding: rem(20);

  @include flex-center;

  color: var(--accent-color);
  background: var(--accent-color-3);
  border-radius: rem(16);
  border: rem(6) solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--shadow);

  backface-visibility: hidden;
  cursor: pointer;

  @include mobile {
    padding: rem(10);
    border: rem(3) solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(99, 99, 99, 0.1) 0 2px 8px 0;
  }
}
