.surface {
  position: absolute;
  inset: 0;
  padding: rem(20);

  @include flex-center;

  background: #fff;
  border-radius: rem(16);
  border: 6px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow);

  backface-visibility: hidden;
  cursor: pointer;

  @include mobile {
    padding: rem(10);
    border: rem(3) solid rgba(0, 0, 0, 0.05);
  }
}
