.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.25s ease;
  z-index: 2000;
}

.open {
  background: rgba(0, 0, 0, 0.45);
  pointer-events: auto;
}
