.overlay {
  position: fixed;
  z-index: 2000;

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 0%);

  transition: background 0.25s ease;

  pointer-events: none;
  inset: 0;
}

.open {
  background: rgb(0 0 0 / 45%);

  pointer-events: auto;
}
