.burgerButton {
  position: absolute;
  top: 50%;
  right: rem(10);
  z-index: 3000;

  padding: 0;

  color: var(--font-color);

  transform: translateY(-50%);

  transition-duration: 0.3s;

  @include flex-center;

  &::before {
    position: absolute;

    content: '';
    inset: -8px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}

.burgerButton svg {
  @include square(rem(40));

  @include laptop {
    @include square(rem(36));
  }

  @include mobile {
    @include square(rem(30));
  }
}
