.burgerButton {
  position: absolute;
  z-index: 3000;
  top: 50%;
  right: rem(20);
  transform: translateY(-60%);

  transition-duration: 0.3s;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
