.burgerButton {
  position: absolute;
  z-index: 3000;
  top: 50%;
  right: rem(10);
  transform: translateY(-70%);
  padding: 0;

  color: var(--font-color);

  @include flex-center;
  transition-duration: 0.3s;

  &::before {
    content: '';
    position: absolute;
    inset: -8px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.burgerButton svg {
  @include square(rem(40));

  @include ipadPro {
    @include square(rem(35));
  }

  @include mobile {
    @include square(rem(30));
  }
}
