.readySide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: rotateY(180deg);

  transition-duration: 0.2s;

  &:active {
    transform: rotateY(180deg) scale(0.9);
  }
}

.text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  line-height: 1.2;
  padding: 0 4px;

  color: var(--accent-color);

  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  letter-spacing: 1px;
}

.counter-body {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
